header {
    background-color: #450604;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1rem;
}

.img-header:first-child {
    width: 60px;
    height: auto;
    object-fit: scale-down;
}

.img-header {
    width: 40px;
    height: auto;
    object-fit: scale-down;
}

.header-input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.input-header {
    display: none;
    cursor: pointer;
}

.label-header {
    background-color: #baa295;
    border-radius: 0.2rem;
    margin: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: 100px;
    cursor: pointer;
    text-align: center;
}

.input-header:checked+.label-header {
    background-image: none;
    background-color: #aa3908;
    color: #baa295;
}

.nome-atendente {
    text-align: center;
    font-weight: bold;
    color: #450604;
    text-transform: capitalize;
}

.notificacao-pedidos-prontos {
    background-color: #f2bf27;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    vertical-align: middle;
    line-height: 2rem;
    position: absolute;
    top: 1%;
    right: 42.5%;
}