.pedidos-cozinha {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}

.comandas {
  border: 3px solid #450604;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #ead6cd;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 0 0 1rem 0;
}

.pedidos-pendentes, .pedidos-andamento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  align-content:flex-start;
  width: 50%;
}

.comandas-pedidos-criados, .comandas-pedidos-andamento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  height: 68.5vh;
  overflow: scroll;
  width: 100%;
}

.pedidos-entregue, .pedidos-pronto {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.lista-pedidos-pronto, .lista-pedidos-entregue {
  overflow: scroll;
  height: 68.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedidos-pendentes {
  border-right: 2px solid #450604;
}

.pedidos-pendentes h2, .pedidos-andamento h2 {
  width: 100%;
  text-align: center;
  line-height: 24px;
}

.comanda p{
  margin: 0;
}

.comanda p:first-child {
  font-weight: bold;
}

.comanda-titulo, .comanda-itens {
  border-bottom: 1.5px solid #450604;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.comanda-button {
  background-color: #aa3908;
  color: #baa295;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 80%;
  align-self: center;
}