.pagina-pedido {
  display: flex;
  justify-content: space-evenly;
}

.align-button{
  text-align: center;
  margin-bottom: 1rem;
}

.button-back-table {
  background-color: #aa3908;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #baa295;
}

.menu-escolha, .resumo-pedido {
  border: 3px solid #450604;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #ead6cd;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 470px;
}

.buttons-menu-escolha, .buttons-resumo-pedido {
  display: flex;
  justify-content: space-between;
}

.button-menu-escolha, .button-resumo-pedido {
  background-color: #baa295;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #383636;
  width: 45%;
}

.button-resumo-pedido:first-child {
  background-color: #aa3908;
  color: #baa295;
}

.item {
  grid-area: item;
  display: inline-block;
}

.comanda-nome-hamburgueres{
  grid-area: itens;
  display: inline-block;
}

.valor {
  grid-area: valor;
  display: inline-block;
  justify-self: center;
}

.item-lista-preco {
  grid-area: preco;
  display: inline-block;
  justify-self: center;
}

.quantidade {
  grid-area: quantidade;
  display: inline-block;
  justify-self: center;
}

.item-lista-quantidade {
  grid-area: botoesQuantidade;
  display: inline-block;
  justify-self: center;
}

.excluir {
  grid-area: excluir;
  display: inline-block;
  justify-self: end;
}

.button-excluir-item {
  grid-area: botaoExcluir;
  display: inline-block;
  margin: 0 0.5rem 0 0;
  justify-self: end;
}

.titulo-lista-pedido{
  display: grid;
  grid-template-areas: 
    "item valor quantidade excluir";
  grid-template-columns: 30% 27.5% 27.5% 15%;
  font-size: 12px;
  font-weight: 800;
  color: #aa3908;
  width: calc(100% - 1rem);
  justify-content: center;
  margin: 0 0 0.5rem 0.5rem;
}

.item-lista-pedido {
  display: grid;
  grid-template-areas: 
    "itens preco botoesQuantidade botaoExcluir";
  grid-template-columns: 30% 27.5% 27.5% 15%;
  font-size: 12px;
  border-top: 2px solid #450604;
  align-items: center;
  padding: 0.5rem 0;
}

.lista-menu, .lista-pedido{
  list-style-type: none;
  margin: 0 0.5rem;
  padding: 0;
  font-size: 14px;
  overflow: scroll;
}

.item-lista-menu {
  border-top: 2px solid #450604;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.comanda-nome-hamburgueres {
  display: flex;
  flex-direction: column;
}

.comanda-nome-hamburgueres-complementos {
  margin: 0 0 0 0.5rem;
  font-style: italic;
  font-size: 12px;
}

.button-menu-escolha:focus, .button-resumo-pedido:focus {
  background-color: #aa3908;
  color: #baa295;
}

.button-adicionar {
  background-image: url("../images/Ícones/add-close.png");
  width: 20px;
  transition: transform 0.3s;
  border: none;
  background-color: transparent;
}

.button-adicionar:focus {
  border: none;
  outline: none;
}

.rotate {
  transform: rotate(45deg);
}

.img-loading{
  display: flex;
  align-content: center;
  margin:auto;
  width: 15%;
  height: auto;
}

.titulo-resumo-pedido {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  background-color: #aa3908;
  color: #baa295;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  height: 21px;
  line-height: 21px;
}

.infos-resumo-pedido {
  margin: 0rem;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding: 0.8rem;
}

.cliente-resumo-pedido {
  margin: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 14px;
  border-radius: 0.2rem;
  border: 1px solid #450604;
  background-color: #baa295;
}

.total-resumo-pedido{
  margin: 0 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #aa3908;
  border-top: 2px solid #450604;
}

.menu-extras{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.escolhas-extras {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
}

.button-ok-extras {
  background-color: #aa3908;
  color: #baa295;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.titulo-extras{
  margin: 0;
  font-size: 10px;
  text-align: center;
}

.img-button-extra{
  height: 20px;
  width: 20px;
  margin-top: 0.2rem;
}

.opcoes-burguer, .opcoes-adicionais {
  margin: 0.3rem 0;
  padding: 0.3rem;
  border: 0.5px solid #383636;
  border-radius: 0.5rem;
}

.opcoes-burguer input[type=radio], .opcoes-adicionais input[type=radio], .buttons-menu-escolha input[type=radio] {
  display: none;
  cursor: pointer;
}

.opcoes-burguer input[type=radio]+label, .opcoes-adicionais input[type=radio]+label {
  font-size: 9px;
  text-transform: capitalize;
  cursor: pointer;
  border: 0.5px solid #383636;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0.2rem;
}

.opcoes-burguer input[type=radio]:checked+label, .opcoes-adicionais input[type=radio]:checked+label {
  background-color: #f2bf27;
}

.buttons-menu-escolha input[type=radio]:checked+label {
  background-color: #aa3908;
  color: #baa295;
}

.img-input-extras {
  display: flex;
  justify-content: space-between;
}

.button-excluir-item {
  width: 18px;
}

.quantidade-lista-pedido{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85px;
}

.button-manipular-qtd {
  margin: 0 0.5rem;
  padding: 0;
  width: 18px;
  height: 23px;
  text-align: center;
  background-color: #aa3908;
  border: 0.5px solid transparent;
  border-radius: 0.2rem;
  color: #baa295;
  outline: none;
}